* {
  border: 0;
  margin: 0;
  padding: 0;
}

/*=======Header======*/

header {
  background: white;
  padding: 10px;
}

.logo-container, header nav {
  display: inline-block;
  vertical-align: middle;
}

.logo-container {
  padding-left: 200px;
}

header nav ul li {
  display: inline;
  padding: 30px;
}

header nav a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Muli', sans-serif;
  font-size: 22px;
}

.logo {
  padding-right: 60px;
}

.button-wrapper2 {
  display: inline-block;
  margin: .75em;
  text-align: center;
  color: white;
  font-family: 'Muli', sans-serif;
  float: right;
  padding-right: 80px;
}

.button2 {
  border: none;
  border-radius: 3em;
  display: inline-block;
  font-size: 1em;
  padding: .75em 1em;
  width: auto;
}

.cta-button2 {
  background-color: #f2ae2e;
  color: #ffffff;
  font-family:'Muli', sans-serif;
  text-decoration: none;
}

/*=======Hero Image======*/

.hero {
  width: 100%;
  filter: brightness(45%);
}

.hero-image {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 80px;
}

.tagline {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 30px;
}

.button-wrapper1 {
  display: block;
  margin: 1em;
  text-align: center;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Muli', sans-serif;
}

.button1 {
  border: none;
  border-radius: 3em;
  display: inline-block;
  font-size: 1.25em;
  padding: .75em 1em;
  width: auto;
}

.cta-button1 {
  background-color: #f2ae2e;
  color: #ffffff;
  font-family:'Muli', sans-serif;
  text-decoration: none;
}

/*=======Text Format======*/

h1, h2, h3, h4, p {
  font-family:'Muli', sans-serif;
  padding: 10px;
  text-align: center;
}

/*=======First Section======*/

.container {
  margin: 30px auto;
  max-width: 1200px;
}

.different {
  padding-top: 60px;
  padding-bottom: 40px;
}

.owner {
  display: inline-block;
  text-align: center;
  width: 33%;
}

.service {
  display: inline-block;
  text-align: center;
  width: 33%;
}

.selective {
  display: inline-block;
  text-align: center;
  width: 33%;
}

hr {
  display: block;
  margin-top: 5em;
  margin-bottom: 0.5em;
  margin-left: 40%;
  margin-right: 40%;
  border-style: solid;
  border-width: 3px;
  color: #f2ae2e;
}

/*=======Team Section======*/

.team1 {
  display: inline-block;
  text-align: center;
  width: 50%;
}

.team2 {
  display: inline-block;
  text-align: center;
  width: 49%;
}

.team3 {
  padding-top:30px;
  display: inline-block;
  text-align: center;
  width: 33%;
}

.team4 {
  padding-top:30px;
  display: inline-block;
  text-align: center;
  width: 33%;
}

.team5 {
  padding-top:30px;
  display: inline-block;
  text-align: center;
  width: 33%;
}

/*=======Products Page Section======*/

.container-products {
  background-color: white;
  margin: 20px auto;
  max-width: 1300px;
}

.marvin-product {
  margin: 1em;
  padding: 10em 0;
}

.marvin-text {
  text-align: left;
  padding-left: 600px;
  width: 400px;
}

.kolbe-product {
  margin: 1em;
  padding: 10em 0;
}

.kolbe-text {
  text-align: right;
  padding-left: 300px;
  width: 400px;
}

.brombal-product {
  margin: 1em;
  padding: 10em 0;
}

.brombal-text {
  text-align: left;
  padding-left: 600px;
  width: 400px;
}

/*=======Second Section======*/

.story {
  padding-bottom: 20px;
  padding-top: 40px;
}

.storytext {
  padding-bottom: 50px;
}

.products {
  padding-bottom: 40px;
  padding-top: 50px;
}

.button-wrapper {
  display: block;
  margin: 1em;
  text-align: center;
}

.button {
  border: none;
  border-radius: 3em;
  display: inline-block;
  font-size: 1em;
  padding: .75em 1em;
  width: auto;
}

.cta-button {
  background-color: #f2ae2e;
  color: #ffffff;
  font-family:'Muli', sans-serif;
  text-decoration: none;
}

.cta-button:hover {
  background-color: #777;
}

.container2 {
  background-color: #d1d1d1;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

.container3 {
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

/*=======Third/Fourth Section======*/

.marvin {
  display: inline-block;
  margin: 1em;
  text-align: center;
  width: 25%;
}

.kolbe {
  display: inline-block;
  margin: 1em;
  text-align: center;
  width: 25%;
}

.brombal {
  display: inline-block;
  margin: 1em;
  text-align: center;
  width: 25%;
}

/*=======Footer Section======*/

footer {
  background-color: #d1d1d1;
  padding-top: 60px;
}

#footer-text {
  text-align: left;
  padding-right: 100px;
  padding: 50px 14em;
}

footer nav {
  display: inline-block;
  padding-left: 200px;
}

footer nav ul li {
  display: inline;
  padding: 30px;
}

footer nav a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Muli', sans-serif;
  font-size: 22px;
}

.social {
  padding-bottom: 10px;
  text-align: center;
}


.fa {
  padding: 10px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #f2ae2e;
  color: black;
}

/* Twitter */
.fa-twitter {
  background: #f2ae2e;
  color: black;
}

.fa-instagram {
  background: #f2ae2e;
  color: black;
}

.fa-linkedin {
  background: #f2ae2e;
  color: black;
}
