* {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  background: white;
  padding: 20px;
}

header nav ul li {
  display: inline-block;
}

header a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.hero {
  width: 100%;
}

h1 {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 30px auto;
}
.owner {
  width: 30%;
  display: inline-block;
  float: left;
  margin: 1em;
  text-align: center;
}

.service {
  width: 30%;
  display: inline-block;
  float: center;
  margin: 1em;
  text-align: center;
}

.selective {
  width: 30%;
  display: inline-block;
  float: right;
  margin: 1em;
  text-align: center;
}
