* {
  border: 0;
  margin: 0;
  padding: 0;
}

header {
  background: white;
  padding: 20px;
}

header nav ul li {
  display: inline-block;
}

header a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.hero {
  width: 100%;
}

h1, h2, h3, h4, p {
  font-family:'Muli', sans-serif;
  text-align: center;
}

.container {
  margin: 30px auto;
  max-width: 1200px;
}

.container2 {
  margin: 40px auto;
  max-width: 1500px;
  text-align: center;
}

.button-wrapper {
  display: block;
  margin: 1em;
  text-align: center;
}

.button {
  border: none;
  border-radius: 3em;
  display: inline-block;
  font-size: 1em;
  padding: .75em 1em;
  width: auto;
}

.cta-button {
  background-color: #f2ae2e;
  color: #ffffff;
  font-family:'Muli', sans-serif;
  text-decoration: none;
}

.cta-button:hover {
  background-color: #777;
}

.owner {
  display: inline-block;
  margin: 1em;
  text-align: center;
  width: 30%;
}

.service {
  display: inline-block;
  margin: 1em;
  text-align: center;
  width: 30%;
}

.selective {
  display: inline-block;
  margin: 1em;
  text-align: center;
  width: 30%;
}

.marvin {
  display: inline-block;
  margin: 1em;
  text-align: center;
  width: 30%;
}

.kolbe {
  display: inline-block;
  margin: 1em;
  text-align: center;
  width: 30%;
}

.brombal {
  display: inline-block;
  margin: 1em;
  text-align: center;
  width: 30%;
}
